body{
    background-image: url(./images/BG.png);
    background-color: rgb(187, 230, 231);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

canvas{
    border-radius: 6px;
}

.main, .main-item, .board-nd-color, .tool-container, .colors, #pick{
    display: flex;
    flex-wrap: wrap;
}

.main{
    justify-content: center;
    align-items: center;
    background: none;
}

.main-item{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    border: 1px black solid;
    border-radius: 10px;
    padding: 18px; 
}

.tool-container{
    justify-content: space-evenly;
    align-items: center;
}

.picked-color{
    background-color: rgb(0, 0, 0);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#eraser{
    width: 200px;
    height: auto;
}

.board-nd-color{
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.board{
    display: grid;
    border: 1px solid rgba(0, 0, 0, 0.39);
    width: 600px;
    height: 600px;
    box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 4px;
}

.boardDivs{
    background-color: white;
}

.color-container{
    width: 300px;
    background: none;
}

.colors{
    width: 300px;
    gap: 3px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.color{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#pick{
    justify-content: center;
    align-items: center;
    border: 1px skyblue dotted;
}

#color_canvas{
    position: relative;
}

.marker{
    position: absolute;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid black;
}

.rgba-sliders{
    margin-top: 30px;
}

.slidecontainer {
    width: 200px; 
    height: 0px;
}
  /* The slider itself */
.slider {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%;
    height: 6px; 
    background: black; 
    border-radius: 24px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; 
    -moz-transition: .2s; 
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    background: gray;
}
  
.slider::-moz-range-thumb {
    background: gray; 
}

.slider::-webkit-slider-thumb,
#rRange::-webkit-slider-thumb, 
#gRange::-webkit-slider-thumb,
#bRange::-webkit-slider-thumb{
    -webkit-appearance: none; 
    appearance: none;
    width: 10px; 
    height: 25px; 
    cursor: pointer;
} 

.slider::-moz-range-thumb,
#rRange::-moz-range-thumb, 
#gRange::-moz-range-thumb,
#bRange::-moz-range-thumb{
    width: 10px; 
    height: 25px;  
    cursor: pointer; 
}

#rRange::-webkit-slider-thumb {
    background: red;
}
  
#rRange::-moz-range-thumb {
    background: red; 
}

#gRange::-webkit-slider-thumb {
    background: green;
}
  
#gRange::-moz-range-thumb {
    background: green; 
}

#bRange::-webkit-slider-thumb {
    background: blue;
}
  
#bRange::-moz-range-thumb {
    background: blue;
}

#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#black{
    background-color: black;
}
#pink{
    background-color: pink;
}
#yellow{
    background-color: yellow;
}
#purple{
    background-color: purple;
}
#orange{
    background-color: orange;
}
#brown{
    background-color: brown;
}
#gray{
    background-color: gray;
}
